@mixin git-hub-btn {
  padding: 0.3rem 0;
  margin-top: 0.5rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0.2rem;
  background-color: rgb(63, 85, 92);
  color: white;
}
